<div class="container">
    <div class="row">
        <button mat-raised-button type="button" color="primary" (click)="redirectToAddActivity()">Add activity</button>
    </div>
    <div class="row">
        <ng-container *ngIf="activityData; else nodata">
            <table mat-table [dataSource]="activityData" class="mat-elevation-z8">
                <ng-container [matColumnDef]="column.displayName" *ngFor="let column of displayedColumns; let i = index">
                    <th mat-header-cell *matHeaderCellDef [id]="i">{{ column.displayName }}</th>
                    <td mat-cell *matCellDef="let element">{{ element[column.property] }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
            </table>
        </ng-container>
        <ng-template #nodata>
            No data
        </ng-template>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
