<mat-toolbar>
    <span class="toolbar" [routerLink]="['/dashboard']">Todo App</span>

    <span class="menu">
        <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #menu="matMenu">
            <span *ngIf="userService.isUserLoggedIn" mat-menu-item> Hi, {{ userService.signedInUser.getUsername() }} </span>
            <button *ngIf="!userService.isUserLoggedIn" mat-menu-item type="button" (click)="navigateForAuthentication()">
                Login/Signup
            </button>
            <button *ngIf="userService.isUserLoggedIn" mat-menu-item type="button" (click)="logout()">
                Logout
            </button>
        </mat-menu>
    </span>
</mat-toolbar>
